@charset "utf-8";
/* CSS Document */

body {
	margin-top: 100px;
	background-color: #DADFE1;
	
}
	
	.side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        color: #fff;
       background: -webkit-linear-gradient(left top, #753a88, #cc2b5e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #753a88, #cc2b5e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #753a88, #cc2b5e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #753a88, #cc2b5e); /* Standard syntax */     !important;
		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: .30s;
    }
	.side-nav>li>ul>li>a {
	display: block;
	
	text-decoration: none;
	color: #fff;
	background-color: #ebebeb;
	 
}
ul{ list-style-type: none;}


.side-nav>li>ul>li>a:hover {
    color: #fff;
	
}
	
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
   /* background-color: ;*/
}



@media(min-width:768px) {
 
    .image{
      background-image: url("../img/1g.jpg");
        height:354px;
        background-repeat: no-repeat;
        background-size: cover; 
        
    }
    .profile-info{
        position:absolute;
        top: 250px;
       left:25px;
        
    }
    
    .role-info{
        position:absolute;
        top: 300px;
       left:25px;
        
    }
    
    
    
    .featured p{
        padding-bottom: 20.5%;
       
        line-height: 22pt;
        font-size: 1.2em;
    }
    
    

    
    ////////////*test*/
  


.footer-social-links{
    font-size: 14px;
  text-align: center;
  margin-top: 10%;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    
    
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px; 
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
 /*rotates the boxes of the social icons*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
   
    
}
.footer-social-links a:hover{
    color: #fff;
}
.footer-social-links a:hover:before{
    background: #111;
}
    
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #2ABB9B;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #ebebeb;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        color:#fff;
        background-color: #999 !important;
		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: .30s;
    }
	
@keyframes fadeInOpacity {
	0% {
		opacity: .50;
	}
	100% {
		opacity: 1;
	}
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #777;
	background-color: #ebebeb;
	 
}


.side-nav>li>ul>li>a:hover {
    color: #fff;
	
}

  .secondary-nav {
    position: relative;
    display: block;
    padding: 0px 25px;
}
    .secondary-nav:hover {
        border-bottom: 3px solid #CF000F;
        animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: .30s;
    }

    